body {
    background-color: tomato;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    margin: 20px;
}

.orla {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bica {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    float: right;
}

h1 {
    margin: 10px 0 10px 0;
}